body{
        font-family:'Open Sans',sans-serif;
        float: center;
}

.window{
		text-align: center;
        color:white;
        background: #006699;
        width: 50%;
        padding: 10px;

}
